.form-group.required .control-label:after {
	color: red;
	content: " *";
}

.equal {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

div[class*='col-'] {
  flex:1 1 auto;
}
.panel {
  flex:1 0 100%;
}